thead tr th:first-child,
tbody tr td:first-child {
  display: none;
}
tbody tr td:nth-child(4) {
  text-align: center;
}

tbody button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
  padding: 0.75rem;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
  border-color: 3px solid black;
}

button.create {
  background-image: url(images/icon-add.png);
}
button.erase {
  background-image: url(images/delete-button.svg);

  /*   background-color: red;
 */
}
button.buy {
  background-image: url(images/icon-buy.png);
}
button.edit {
  background-image: url(images/edit-button.svg);
}

body {
  font-family: sans-serif;
}
h1 {
  letter-spacing: -3px;
}

table {
  display: block;
}
table > * {
  display: flex;
}

tbody {
  flex-direction: column;
  background-image: url("images/scott-walsh-141934-unsplash.jpg");
  background-size: cover;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-color: rgb(204, 204, 204);
  background-blend-mode: overlay;
  border-radius: 0 0 1rem 1rem;
}
thead {
  background-color: #89808099;
  border-bottom: 2px solid darkblue;
}

tr tbody {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: flex-start;
  padding: 1px 5px;
}

tbody tr:nth-of-type(even) {
  background-color: rgba(211, 211, 211, 0.75);
}

td,
th {
  width: 90px;
}

#intro {
  width: 100%;
  height: 73vw;
  /* background-position: 0 50%; */
  /* background-color: darkblue;
  background-blend-mode: hard-light;
  /* background-position: 0 50%; */

  /* width: 100%;
  max-height: 120px; */
}
#background {
  height: 400px;
}
h1,
h2 {
  text-align: center;
}
h1 {
  font-weight: bolder;
  font-size: 50px;
  text-transform: uppercase;
}

/* sort-arrows https://codepen.io/imarkrige/pen/vgmij */
a.sort-by,
a.sort-by,
a.sort-by:hover,
a.sort-by:visited,
a.sort-by:active {
  color: darkblue;
  text-decoration: none;
}
td a {
  display: block;
  width: 100%;
}
th a.sort-by {
  padding-right: 18px;
  position: relative;
}
a.sort-by:before,
a.sort-by:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
a.sort-by:before {
  border-bottom-color: #666;
  margin-top: -9px;
}
a.sort-by:after {
  border-top-color: #666;
  margin-top: 1px;
}

a.sort-by.activeFilter {
  color: rebeccapurple;
}

/* Special Glyphs setup */
/* tbody > tr td:last-child {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */
figure.table-glyph {
  margin: 0;
}
figure.table-glyph img {
  width: 2rem;
}

/* TODO: Reset button style and set it according to theme */
button {
  height: 2rem;
}

fieldset {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin-left: 2rem;
}
fieldset label {
  width: 25%;
}

#icon-legend {
  display: inline-flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  /*   margin: 8px 2rem;  
 */
  border: 1px solid darkgrey;
  padding: 0.5rem;
}

#icon-legend {
  list-style: none;
  padding: 0;
}
#icon-legend li {
  box-sizing: border-box;
  height: 3.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  display: flex;
}
#icon-legend li img {
  height: 100%;
  display: block;
  margin: auto;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
